/* define */
@font-face {
  font-family: Minion;
  src: url(fonts/minion_pro.otf);
}

@font-face {
  font-family: Trajan;
  src: url(fonts/trajan_pro.ttf) format('truetype');
}

/* use */
body{
  font-family: Minion;
}

h1,h2,h3,h4,h5,h6{
  font-family: Trajan;
}

  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels */
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }