/* define */
@font-face {
  font-family: Minion;
  src: url(fonts/minion_pro.otf);
}

@font-face {
  font-family: Trajan;
  src: url(fonts/trajan_pro.ttf) format('truetype');
}

/* use */
body{
  font-family: Minion;
}

h1,h2,h3,h4,h5,h6{
  font-family: Trajan;
}